<div class="b2 form-btn"><%= link_to "BACK", beers_path %>
</div>
<div class="section-head">Login</div>

<hr class="divider-horizontal"/>

<div class="form-one">
	<%= form_for :user, url: '/login' do |f| %>

	<div class="form-input l2">
		Email: <%= f.text_field :email %>
		Password: <%= f.password_field :password %>
		<%= f.submit "login" %>
	</div>
</div>

<hr class="divider-horizontal"/>

<% end %>