<div class="b2 form-btn"><%= link_to "BACK", beers_path, class: "links" %>
</div>
<div class="section-head">Login</div>

<br/>

<hr class="divider-horizontal"/>

<div class="form-one">
	<%= form_for :user, url: '/login' do |f| %>

	<div class="form-input l2">
		Email: <%= f.text_field :email %>
		Password: <%= f.password_field :password %>
		<%= f.submit "login" %>
	</div><br/>
<% end %>
	<% flash.each do |key, value| %>
  <br/><span class="b4a"><div class='alert-<%= key %>' role='danger'>
    <%= value %>
  </div></span>
<% end %>
</div>


<hr class="divider-horizontal"/>
