<div class="b2 form-btn"><%= link_to "BACK", beers_path %>
</div>

<div class="section-head">SIGN UP</div>

<br/>

<hr class="divider-horizontal"/>

	<div class="form-two">
	
	<%= form_for @user do |f| %>

			<div class="form-input l1">
				First: <%= f.text_field :first_name %>
				Last: <%= f.text_field :last_name %>
				Email: <%= f.text_field :email %>
				Password <%= f.password_field :password %> 
				Confirm <%= f.password_field :password_confirmation %>
			<span class="b2"><%= f.submit "SIGN UP" %></span>
		</div>
	

<% end %>

<% flash.each do |key, value| %>
  <br/><div class='b4a alert-<%= key %>' role='danger'>
    <%= value %>
  </div>
<% end %>

</div>

<hr class="divider-horizontal"/>