<br/>
	<div class="b2 form-btn"><%= link_to "BACK", beers_path %></div>
<br/>

	<hr class="divider-horizontal"/>
		
	<div class="showtable">
		<div class="view">

			<%= form_for @beer do |f| %>
			<div class="b4"><%= @beer.name.upcase %></div>
			<br/>
			<div class="l1">
				Brewery:<br/> 
				<%= f.text_field :brewery  %><br/>
				Style:<br/>
				<%= f.text_field :brewery  %><br/>
				ABV:<br/> 
				<%= f.number_field :ABV %><br/>
				Rating:<br/> 
				<%= f.number_field :rating %><br/>
				Price:<br/> 
				<%= f.number_field :price %><br/>
				Taste:<br/> 
				<%= f.text_field :taste %><br/>
				Apperance:<br/> 
				<%= f.text_field :appearance %><br/>
				<br/> 
				<%= f.submit "Update" %>
			<% end %>				
			</div>
		</div>
		<div class="image-container">
			<div class="b2 image-link">UPLOAD A PHOTO</div>
		</div>
		<div class="taste-container">
			<div class="b2 image-link">FLAVOR PROFILE</div>
		</div>
	</div>

	<br/>

	<hr class="divider-horizontal"/>
	
	<br/><br/><br/><br/>