<br/>
	<div class="b2 form-btn"><%= link_to "BACK", beers_path, class: "links" %></div>
<br/>

	<hr class="divider-horizontal"/>
		
	<div class="showtable">
		<div class="view">

			<%= form_for @beer do |f| %>
			<div class="b3"><%= @beer.name.upcase %></div>
			<br/>
			<div class="l1">
				Brewery:<br/> 
				<%= f.text_field :brewery  %><br/>
				Style:<br/>
				<%= f.text_field :style  %><br/>
				ABV:<br/> 
				<%= f.number_field :ABV %><br/>
				Rating:<br/> 
				<%= f.number_field :rating %><br/>
				Price:<br/> 
				<%= f.number_field :price %><br/>
				Taste:<br/> 
				<%= f.text_field :taste %><br/>
				Color:<br/> 
				<%= f.color_field :color, list: "colors", placeholder: "#ffeaa5" %><br/>
				<br/> 
				<%= f.file_field :photo %></div><br/>
				<div><%= f.submit "Update", class: "l1"%></div>
					<datalist id=colors>
						<option>#ffeaa5</option>
						<option>#efc784</option>
						<option>#f5b65d</option>
						<option>#e69943</option>
						<option>#d28d44</option>
						<option>#ce6f2b</option>
						<option>#ce4c36</option>
						<option>#653615</option>
						<option>#5f332a</option>
						<option>#261408</option>
					</datalist>
				<% end %>				
			</div>

		<div class="image-container">
			<div class="b2 image grey"><%= image_tag @beer.photo.url(:small) %><br/></div>
		</div>
			<div class="taste-container">
					<div class="chart" style="font-size: 400px;"></div>
			</div>
		</div>

	<br/>

	<hr class="divider-horizontal"/>
	
	<br/><br/><br/><br/>