<div class="bold center-block">
<h1>REVIEW</h1>

			<%= form_for @beer do |f| %>
			Brewery: <%= f.text_field :brewery  %><br/>
			Style: <%= f.text_field :style %><br/>
			ABV: <%= f.number_field :ABV %><br/>
			Rating: <%= f.number_field :rating %><br/>
			Price: <%= f.number_field :price %><br/>
			Taste: <%= f.text_field :taste %><br/>
			Apperance: <%= f.text_field :appearance %><br/>

			<%= f.submit "Update" %>
	<% end %>				
</div>