
	
<!-- Section 1 - Wish List -->

<br/>
<div class="section-head">
			WISH LIST <div class="links"><%= link_to '+', '/beers/new' %></div>
</div>
<hr class="divider-horizontal"/>

<div class="wishlist">

	<tbody>
		<table class="wishlist-content">
			<br/>
			  	<td class="l1 table-labels">Name</td>
			  	<td class="l1 table-labels">Brewery</td>
			  	<td class="l1 table-labels">Style</td>
			  	<!-- <td class="l1">$</td> -->
			  	<td class="l1 table-labels">Delete</td>
			  	<td class="l1 table-labels">Review</td>
			</table>
	<% @beers.each do |beer| %>
		<br/>
			<table class="wishlist-content">
			  	<td class="b1"><%= beer.name.upcase %></td>
			  	<td class="l1"><%= beer.brewery %></td>
			  	<td class="l1"><%= beer.style %></td>
			  	<!-- <td class="l1">$<%= beer.price %></td> -->
			  	<td class="bold button"><%= link_to "X", beer, method: :delete, data: { confirm: "Are you sure?"} %></td>
			  	<td><input type="checkbox" value="false"/></td>
			</table>
		</tbody>
	<% end %>
</div>


<!-- Section 2 - Reviews -->


	<br/><br/>
	<div class="section-head"> REVIEWS </div>
	<hr class="divider-horizontal"/>
		
	<div class="reviewtable">
	<% @beers.each do |beer| %>
		<div class="review-container">
			<div class="review">
				<div class="bold"><%= beer.name.upcase %></div><br/>
				<hr class="divider-horizontal-two"/><br/>
				<div class="l1">
				Brewery:<br/>
				<span class="b1"><%= beer.brewery  %><br/></span>
				Style:<br/>
				<span class="b1"><%= beer.style %><br/></span>
				ABV%: 
				<span class="b1"><%= beer.ABV %><br/></span>
				Rating: 
				<span class="b1"><%= beer.rating %><br/></span>
				Price: $
				<span class="b1"><%= beer.price %><br/></span>
				Taste:<br/>
				<span class="b1"><%= beer.taste %><br/></span>
				Appearance:<br/>
				<span class="b1"><%= beer.appearance %><br/></span>
				</div class="link bottom">
				<%= link_to 'REVISE', edit_beer_path(beer) %> | <%= link_to "X", beer, method: :delete, data: { confirm: "Are you sure?"} %>
			</div>
		</div>
		<% end %>
	</div>
	<br/><br/>
	<hr class="divider-horizontal"/>
		
		




