
	
<!-- Section 1 - Wish List -->

		<div class="wishlist">
		
		<div class="section-head">
			WISH LIST <div class="links"><%= link_to '+', '/beers/new' %></div>

		<hr class="divider-horizontal"/>

			</div>
		<% @beers.each do |beer| %>
		<br/>
		<table class="wishlist-content">
			  <tr>
			  	<td class="bold"><%= beer.name.upcase %></td>
			  	<td class="light"><%= beer.brewery %></td>
			  	<td class="light"><%= beer.style %></td>
			  	<td class="light">$<%= beer.price %></td>
			  </tr>
		</table>
		<% end %>
	</div>


<!-- Section 2 - Reviews -->


	<br/><br/><br/>
	<div class="section-head"> REVIEWS </div>
	<hr class="divider-horizontal"/>
	<div class="reviews">
		
	<div class="reviewtable">
	<% @beers.each do |beer| %>
		<div class="review-container">
			<div class="review"><%= beer.name.upcase %></div>
				<br/>
					</div>		
				</div>
		<% end %>
	</div>