   <div class="banner">
   	<h1>Add a new beer!</h1>
   </div>

    <%= form_for @beer do |f| %>

        Name: <%= f.text_field :name %>
        Brewery: <%= f.text_field :brewery %>
        Style: <%= f.text_field :style %>
        Price: <%= f.text_field :price %>

        <%= f.submit "Add beer!" %>

    <% end %>

    <%= link_to "Back to the list!", beers_path %>