<!-- Add new beer form -->

<br/>
<div class="b2 form-btn"><%= link_to "BACK", beers_path %>
</div>
<div class="section-head"> ADD A NEW BREW!</div>
<hr class="divider-horizontal"/>

<div class="form-one">

  <%= form_for @beer do |f| %>

  <div class="form-input l2">
    Name: <%= f.text_field :name %>
    Brewery: <%= f.text_field :brewery %>
    Style: <%= f.text_field :style %>
    <span class="l2"><%= f.submit "+" %></span>
  </div>

</div>

<% end %>

<hr class="divider-horizontal"/>