   <div class="bold center-block">
   	<h1 class="">ADD A NEW BREW!</h1>
   </div>

    <%= form_for @beer do |f| %>

        Name: <%= f.text_field :name %>
        Brewery: <%= f.text_field :brewery %>
        Style: <%= f.text_field :style %>
        Price: <%= f.text_field :price %>

        <div class="bold"><%= f.submit "Add beer!" %></div>

    <% end %>

    <%= link_to "Back to the list!", beers_path %>