<!DOCTYPE html>
<html>
<head>
  <title>Kanpai1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
	<!-- For compatibility with older IEs -->
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
	<script src="excanvas.min.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" type="text/css" href="range-style.css">
	<script src="chartwell.min.js" type="text/javascript"></script>
	<script src="chartwell_radar.min.js" type="text/javascript"></script>

</head>

<body>
<br/>
	<div class="b1 beta">BETA, CHROME PREFERRED</div>
	<div class="b1 login">
	
		<% if current_user %>
		<%= current_user.first_name.upcase + " " + current_user.last_name.upcase %> <span class="b1"> | </span><%= link_to "SIGN OUT", logout_path %>
		<% else %>
		<%= link_to "LOGIN", login_path %> | <%= link_to "SIGN UP", signup_path %>
		<% end %>

	</div>

	<div class="logo"><img src="<%= asset_path('KANPAI_APP_LOGO_COMP-3a.svg') %>" alt="KANPAI!"></div>

<br/>

<%= yield %>

	<script>
		window.onload = function(){
			FFChartwell()
		}
	</script>

</body>
</html>
